.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    background: linear-gradient(#000, #383838);
}
.logo_wrap{
    display: flex;
    height: 100px;
    width: 100%;
    background: linear-gradient(#000, #242424);
    border-right: 1px solid silver;
}
.header-buttons_wrap{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}